<div class="row mt-70">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <form [formGroup]="newMem" 
      class="card card-body" (ngSubmit)="onSubmit()">
<!-- {{userform.value|json}}
<hr>
{{userModel|json}} -->

      <div class="mb-4">
          <div class="sign-up-style">sign-up</div>
          
        <label  for="userName" class="form-label">userName</label>
        <input 
        formControlName="userName"
        name="userName"
          type="email"
          class="form-control"
          id="userName"
          aria-describedby="emailHelp"
        />
        <br>
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input  formControlName="email"
        name="email"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input formControlName="password"
        name="password"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="mb-3">
        <label for="Mobile" class="form-label">Mobile</label>
        <input formControlName="mobile"
        name="Mobile"
          type="number"
          class="form-control"
          id="Mobile"
        />
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Remember password</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
